<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <bean class="com.smirix.application.ApplicationConfig">
        <constructor-arg value="SMIRIX" type="java.lang.String"/>
    </bean>

    <bean class="com.smirix.services.apps.AppServicesService"/>

    <import resource="vkContext.xml"/>
    <import resource="tlgmContext.xml"/>
    <import resource="schdlrContext.xml"/>
    <context:annotation-config/>
</beans>