.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}

.overlay:target + .popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}

.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}

.popup p, .popup div {
    margin-bottom: 10px;
}

.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
}

.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.aside-menu {
    margin: 0;
    padding: 0;
}

.aside-menu li {
    list-style-type: none;
    border-top: 1px solid #e7e7e7;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

.aside-menu li:first-child {
    border: none;
}

.aside-menu li.active {
    color: #29c5e6;
}

.aside-menu a {
    color: #8f8f8f;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.top-menu li.active {
    background: #29c5e6;
    color: #fff;
}

.top-menu a {
    color: #b2b2b2;
}

.row-start-page, .row-start-page-gray {
    margin: 10px 0;
    padding: 100px 10px;
}

.row-start-page div {
    display: inline-block;
}

.row-start-page-gray div {
    display: inline-block;
}

.row-start-page-gray {
    background: #f8f8f8;
}

.f-left {
    float: left;
}

.aside-container {
    float: left;
    width: 250px;
    margin: 100px 0;
}

footer {
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 1000px;
    margin: auto;
    padding: 10px 0;
    height: 90px;
}

.top-menu-container {
    padding: 20px;
}

.line {
    border-top: 5px solid #7e7e7e;
}

.top-menu-button-r {
    display: inline-block;
    padding: 0 10px;
    float: right;
}

.top-menu-button-l{
    display: inline-block;
    padding: 0 10px;
    float: left;
}